

.admin-cards {
  margin-top:800px;
  background: rgb(255, 255, 255);
  /* background-image: url('../../components/images/img-10.jpg');
  background-repeat: no-repeat; */

}  


.admin-cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  

}

.admin-cards__wrapper {
  position: relative;
  margin: 20px 0 20px;
}

.admin-cards__items {
  margin-bottom: 24px;

}

.admin-cards__item {
  display: flex;
  flex: 1;
  margin: 0 4rem;
  border-radius: 10px;
  background-color:rgba(15, 65, 160, 0.425)
}

.admin-cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0px 0px 50px 4px rgb(56 126 255 / 38%);
  -webkit-filter: drop-shadow(0 6px 20px rgba(136, 88, 33, 0.267));
  filter: drop-shadow(0 6px 20px rgba(19, 56, 124, 0.226));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.admin-cards__item__pic-wrap {
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}

.admin-fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.admin-cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: #1f98f4;
  box-sizing: border-box;
}

.admin-cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
 
}

.admin-cards__item__img:hover {
  transform: scale(1.1);
  
}

.admin-cards__item__info {
  padding: 20px 20px 20px;
}

.admin-cards__item__text {
  color: #000000;
  text-shadow: 0 6px 20px rgba(131, 13, 13, 0.541);
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .admin-content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .admin-cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .admin-cards__item {
    margin-bottom: 2rem;
  }
}