:root {
  --primary: gold;
}



.btn1 {
  padding: 8px 20px;
  border-radius: 2px;
  outline: auto;
  border: none;
  cursor: pointer;
}

.btn--primary1 {
  background-color: rgb(7, 44, 3);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline1 {
  background-color: var(--primary);
  color: (7, 44, 3);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium1 {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large1 {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large1:hover,
.btn--medium1:hover {
  transition: all 0.3s ease-out;
  background: rgb(255, 255, 255);
  color: #000000;
  transition: 250ms;
}