*{
  
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.com-container{
    background-image: url('../../components/images/img-14.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.com-container::after {
    content: "";
    opacity: 0.8;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    height: 500px;
}

.cm-container{
    width: 600px;
    background: rgb(25 83 138 / 47%);
    border-radius: 8px;
    text-align: center;
    padding: 50px 35px 10px 35px;
    box-shadow: 0px 1px 15px 12px rgb(69 87 167 / 36%);
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
}

.cm-container header{
    color: white;
    border-radius: 8px;
    shape-outside: -moz-radial-gradient(5px);
    font-size: 35px;
    font-weight: 800;
    margin: 0 0 30px 0;
    box-shadow: inset -1px 0px 20px 20px rgb(36 114 107 / 73%);
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
}

.cm-container .form-outer{
    width: 100%;
    overflow: hidden;
    
}



.form-outer form{
    display: flex;
    width: 500%;
}

.form-outer form .page{
    width: 30%;
}

.form-outer form .page .titleCom{
    margin-left: -250px;
    font-size: 25px;
    font-weight: 900;

}

.form-outer form .page .formOut{
    text-align: left;
    font-size: 25px;
    font-weight: 500;

}

.form-outer form .page .formOut .fieldCom{
    margin: 5px;
    font-weight: 500;
    outline-style: double;
    outline-color: black;
    width: 520px;

}


.form-outer form .page .field button{
    width:25%;
    margin: 0 50px 30px;
    height: calc(75% + 2px);
    border: none;
    background: rgba(46, 38, 38, 0.658);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    letter-spacing:1px;
    text-transform: uppercase;
    cursor:pointer;
    transition: 0.3s ease-in;
}



.form-outer form .page .field button:hover{
    background: rgb(34, 32, 32);
    color: rgb(255, 255, 255);
}

.form-outer form .page .btns button{
    margin-top: -20px!important;
}

form .page .btns button .prev{
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button .next{
    margin-left: 3px;
}
