.editpro-container{
    height: 600px;
    background-image: url('../../components/images/img-19.jpg');
    background-repeat: no-repeat; 
    background-position: right;
    
}

.editcontainer{
    margin-top: 80px;
    margin-left: 650px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(5, 65, 17);
   
    
}

/* .editcontainer .profile{
    background-image: url('../../components/images/img-17.png');
    background-repeat: no-repeat;
    outline: auto;
    margin-top: 200px;
    margin-left: 500px;
    max-width: 2000px;
    max-height: 1000px;
} */

/* .editproform-outer{
    margin-top: 80px;
} */

.editprofield{
    font-weight: 900;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 850px;
    /* outline-style: auto; */
    shape-outside: -moz-radial-gradient(5px);
    width: 350px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(59, 52, 52, 0.521);
    -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
    /* line-height: 50px; */
    /* padding: 40px 35px 40px 35px; */
    text-align: center;
    
  
}

.editlabel{
    font-weight: 700;
    font-size: 15px;
    margin-top: -30px;
    margin-left: -250px;
    shape-outside: -moz-radial-gradient(5px);
    width: 200px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(59, 52, 52, 0.521);
    -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
    text-align: center;
    padding-top: 9px;
}

.editprofield-btns button{
    /* outline: auto; */
    background: linear-gradient(180deg,#2f5072 0%, #052647 100%);
    outline-color: black;
    color: rgb(0, 0, 0);
    /* text-align: center; */
    width:15%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 700px;
    padding-top: 5px;
    padding-left: 4px;
}

/* .next-1 next {
 
    color: rgb(0, 0, 0);
  
  } */

.editprofield-btns button:hover{
  background: linear-gradient(180deg,#889bad 0%, #5f6a75 100%);
  color:  white;
  } 

.editprofield input{
    border: none;
    background-color: none;
    outline: none;
    width: 300px;
    padding-left: 10px;
}

.editprofield select{
    border: none;
    background-color: none;
    outline: none;
    width: 300px;
}