.container {
    position: relative;
    color: rgb(0, 0, 0);
}

 .container::after {
        content: "";
        opacity: 0.8;
        background: rgb(96, 98, 102) url('../images/img-12.jpg') no-repeat fixed top;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        /* also change the blend mode to what suits you, from darken, to other 
        many options as you deem fit*/
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        height: 500px;
   }

   .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: center;
    top:100%;
    left:100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }