*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.log-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #7ccce4, #2b6777); */
    box-shadow: 0 6px 20px rgba(183, 190, 185, 0.521);
    -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
    background-image: url('../../components/images/img-22.jpg');
    background-repeat: no-repeat;
}

.g-container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0 0 0);
}


.g-container .cont-title .title{
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.g-container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #40833a, #a8c59f);  }

  .g-container form .user-details{
   justify-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #b7e995; 
   }

  form .field{
    height: 45px;
    margin: 35px 0
  }

  form .field button{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #124121;  
  }

  form .field button:hover{
    /* transform: scale(0.99); */
    background:  #207c30;    }
  
 @media  (max-width: 584px){
        .g-container{
         max-width: 100%;
       }
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
      }

      .content form .user-details{
        max-height: 500px;
        overflow-y: scroll;
      }

      .user-details::-webkit-scrollbar{
        width: 5px;
      }

      @media(max-width: 459px){
        .container .content .category{
          flex-direction: column;
        }
      }

/* .m-container{
    background-image: url('../../components/images/img-14.jpg');
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.container{
    outline-style: auto;
    width: 600px;
    background: rgba(68, 63, 63, 0.411);
    text-align: center;
    padding: 50px 35px 10px 35px;
    box-shadow: 0 6px 20px rgba(134, 134, 134, 0.308);
    -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
}

.container header{
    outline-style: auto;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    box-shadow: 0 6px 20px rgba(134, 134, 134, 0.308);
    -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
    filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281));
    
}

.container .login{
    font-size: 35px;
    font-weight: 600;
}




 form{
   display: contents;
}

 form .field{
    height: 45px;
    width: 525px;
    margin: 40px 0;
    position: relative;
    margin-bottom: 10px;
    font-size: 17px;
    
}

 form .field .label{ 
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: calc(40% + 5px);
    transform: translateY(-50%);
    color: #aaa;
    transition:top 0.3s ease,font-size 0.3s ease,color 0.3s ease ;
   
}

 form .field input{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(25, 83, 138);
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    transition: border-color 0.3s ease;
}





 input:focus ~ .label,
 input:valid ~ .label{
    top: -6px;
    font-size: 13px;
    color: #222;
} 






 form .field button{
    width:50%;
    height: calc(100% + 5px);
    border: none;
    background: rgba(46, 38, 38, 0.658);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    letter-spacing:1px;
    text-transform: uppercase;
    cursor:pointer;
    transition: 0.3s ease-in;
}

form .field button:hover{
    background: rgb(34, 32, 32);
    color: rgb(255, 255, 255);
} */